@font-face {
	font-family: 'DIN Pro Light';
	src: url('DINPro-Light.eot');
	src: local('DIN Pro Light'), local('DINPro-Light'),
		url('fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Light.woff') format('woff'),
		url('fonts/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

input:focus, textarea:focus{
	outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-shadow: none;
}
 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
 
html{
	
}	

body{
	line-height: 1.5;
	font-family: 'DIN Pro Light' !important;
	color: #000;
	text-shadow: none;
	font-size: 14px;
}
 
ol, ul {
	list-style: none;
}
 
blockquote, q {
	quotes: none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-family: 'Times New Romans';
	font-size: 35px;
	color: #a18c6f;	
	margin-bottom: 35px;
}

h2{
	font-size: 35px;
	color: #a18c6f;
	font-family: 'Times New Romans';
	margin-bottom: 30px;
	line-height: 1;
}

h3{
	font-size: 24px;
	color: #a18c6f;
}

a{
	color: #1d2429;

}

.container{
	padding-left: 80px;	
	position: relative;
}

.header{
	padding: 22px 0 50px 0;
	background-image: url(images/bg.jpg);
}

.float__menu{
	position: absolute;
	top: -11px;
	left: 0;
	z-index: 980;
}

.header__addr{
	text-decoration: underline;
	color: #a18c6f;
	background-image: url(images/point.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	padding-left: 25px;
}

.header__addr:hover{
	text-decoration: none;
	color: #a18c6f;
}

.social{
	overflow: hidden;
	border-left: 1px solid #a18c6f;
	border-right: 1px solid #a18c6f;
	float: left;
	padding: 0px 16px;
}

.social li{
	float: left;
}

.social li:first-child{
	margin-right: 16px;
}

.messengers{
	overflow: hidden;
	border-right: 1px solid #a18c6f;
	float: left;
	padding: 0px 16px;
	margin-right: 14px;	
}

.messengers li{
	float: left;
	margin-right: 16px;
}

.messengers li:last-child{
	margin-right: 0;
}

.header__phone{
	overflow:hidden;
	float: left;
	margin-top: -11px;
}

.header__phone a{
	display: block;
	text-align: right;
}

.header__phone__link{
	font-size: 24px;
	font-family: 'Times New Romans';
	color: #a18c6f;
}

.header__phone__link:hover{
	text-decoration: underline;
	color: #a18c6f;
}

.show__form{
	color: #fff;
	text-decoration: underline
}

.show__form:hover{
	color: #fff;
	text-decoration: none;
}

.company{
	font-size: 50px;
	color: #a18c6f;
	font-family: 'Times New Romans';
}

.header__menu{
	overflow: hidden;
	margin-top: 14px;
}

.header__menu li{
	float: left;
}

.header__menu li a{
	color: #fff;
	border-right: 1px solid #6b7073;
	font-size: 16px;
	padding: 3px 16px;
	display: block;	
}

.header__menu li a:hover{
	color: #ebdac1;
	text-decoration: none;
}

.header__menu li a.active{
	color: #ebdac1;
}

.header__menu li:first-child a{
	padding-lefT: 0;	
}

.header__menu li:last-child a{
	padding-right: 0;
	border-right: none;
}

.content{
	padding: 20px 0 45px 0;
}

.trg{
	position: absolute;
	top: -50px;
	left: 125px;
}

.contacts{
	margin-bottom:20px;
}

.contacts__head{
	font-size: 16px;
	color: #a18c6f;
}

.contacts__text{
	font-size: 16px;
}

.contacts__text a{
	color: #000;
	text-decoration: underline;
}

.contacts__text a:hover{
	text-decoration: none;
}

.no__car{
	font-size: 24px;
	color: #a18c6f;
	margin-top: 43px;
	margin-bottom: 18px;	
}

.no__car__list li a{
	text-decoration: underline;
	color: #1d2429;
	font-size: 16px;
}

.no__car__list li a img{
	margin-left: 10px;
}

.no__car__list li p{
	display: none;
}

#map img{
	width: 100%;
	margin-bottom: 40px;
}

.rekvisity tr td{
	font-size: 16px;
	color: #1d2429;
}

.quest__form{
	padding: 30px 0 40px 0;
	background-image: url(images/bg.jpg);
}

.quest__form__head{
	color: #fff;
	font-size: 24px;
	margin-bottom: 25px;
}

.quest__form input{
	width: 100%;
	height: 30px;
	border: 1px solid #a18c6f;
	border-radius: 9px;
	background-color: #1d2429;
	color: #fff;
	font-size: 16px;
	color: #fff;
	padding: 0 21px;
}

.send_quest, .send_quest2{
	display: block;
	height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 9px;
	background-color: #a18c6f;
	color: #000;
	padding-top: 2px;
	transition: 0.5s;
}

.send_quest:hover, .send_quest2:hover{
	text-decoration: none;
	color:#000;
	background-color: #c5b59f;
}

.politik{
	font-size: 12px;
	color: #a18c6f;
	margin-top: 10px;
	background-image: url(images/check.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
	padding-lefT: 20px;
	cursor: pointer;
}

.politik__uncheck{
	background-image: url(images/uncheck.png) !important;
}

.footer{
	padding: 34px 0;
	background-color: #a18c6f;
}

.copyright{
	font-size: 16px;
	color: #000;
}

.prav__info{
	color: #000;
	text-decoration: underline;
}

.prav__info:hover{
	color: #000;
	text-decoration: none;	
}

.footer__content{
	overflow: hidden;
}

.footer__right{
	float: left;
	width: 50%;
}

.footer__center{
	float: left;
	padding-lefT: 25px;
	background-image: url(images/marker.png);
	background-repeat: no-repeat;
	background-position: 0 5px;	
}

.footer__center p:first-child{
	text-transform: uppercase;
	font-size: 12px;	
	color: #1e252a;
}

.footer__center p:nth-child(2){
	color: #1e252a;
	font-size: 12px;
}

.footer__center p:last-child{
	color: #1e252a;
	font-size: 20px;
	font-family: 'Times New Romans';
}

.footer__left{
	float: right;
}

.footer__left ul{
	overflow: hidden;
}

.footer__left ul li{
	float: left;
	margin-right: 18px;
}

.footer__left ul li:last-child{
	margin-right: 0;
}

.left__menu{
	position: fixed;
	left: -300px;
	top: 0;
	width: 300px;
	background-image: url(images/bg.jpg);
	height: 100%;
	z-index: 989;
	border: 2px solid #a18c6f;
	border-left: 0;
	padding: 20px;
	overflow: hidden;
}

.left__menu ul li{
	margin-bottom: 15px;	
}

.left__menu ul li a{
	color: #a18c6f;
	font-size: 18px;
	font-weight: bold;
}

.sub_ul{
	margin-left: 30px;
}

.sub_ul li a{
	font-size: 16px !important;
}

.hide__menu{
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 18px;
	color: #a18c6f;
	font-weight: bold;
}

.hide__menu:hover{
	text-decoration: none;
}

.history{
	overflow: hidden;
	position: relative;
}

.vertical__line{
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;	
	left: 50%;
	background-color: #a18c6f;
}

.history__item{
	position: relative;
	width: 48%;
	border: 1px solid #a18c6f;
	padding: 28px 38px;
	margin-bottom: 198px;
}

.history__item:last-child{
	margin-bottom: 0;
}

.history__item__left{
	float: left;
}

.history__item__right{
	float: right;
}

.history__item p{
	font-size: 16px;
	color: #1d2429;
	margin-bottom: 34px;
}

.history__item p:last-child{
	margin-bottom: 0;
}

.history__item__head{
	font-size: 35px !important;
	color: #a18c6f !important;
	font-family: 'Times New Romans' !important;
}

.history__item__right1{
	margin-top: 86px;
}

.circle_img{
	position: absolute;
	top: -7px;
}

.history__item__left .circle_img{
	right: -27px;
}

.history__item__right .circle_img{
	left: -27px;
}

.quest__form__decor{
	height: 12px;
	background-image: url(images/decor.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 55px;
}
/*---------------ПОПАП------------------*/
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
}

.popup {
   display: none;
    width: 100%;
    max-width: 485px;
    top: 100px;
    left: 100px;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    padding: 38px;
	border-radius: 4px;
	border: 2px solid #a18c6f;
	background-image: url(images/bg.jpg);
}

.close1 {
    float: right;
    font-size: 21px;
    color: #a18c6f;
	right: 28px;
	top: 16px;
	position: absolute;
}

.close1 :hover{
	text-decoration: none;
}

.head__remark{
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	color: #fff;
}

.popup .head{
	text-align: center;
	font-size: 20px;
	margin-bottom: 28px;
	color: #fff;
}

.popup input{
	width: 100%;
	height: 44px;
	border: 1px solid #e9e9ea;
	border-radius: 4px;
	color: #807e7e;
	font-size: 16px;
	padding: 0 23px 0 23px;
	margin-bottom: 18px;
}


.send_mess, .send_order{
	display: block;
	width: 150px;
	height: 30px;
	text-align: center;
    font-size: 16px;
    border-radius: 9px;
    background-color: #a18c6f;
    color: #000;
    padding-top: 2px;
	margin: 10px auto 0 auto;
	transition: 0.5s;
}

.send_mess:hover, .send_order:hover{
	text-decoration: none;
	color: #000;
	background-color: #a59a8c;
}

.content__text p{
	font-size: 16px;
	color: #1d2429;
	margin-bottom: 27px;
}

.work__slogan{
	border-left: 1px solid #a18c6f;
	padding-left: 42px;	
	margin-bottom: 27px;
	padding-right: 76px;
}

.work__slogan p{
	font-family: 'Times New Romans';
	font-size: 35px;
	color: #a18c6f;
	line-height: 1;
}

.vac a{
	display: block;
	font-size: 18px;
	color: #1c2328;
	padding-bottom: 3px;
	border-bottom: 1px solid #a18c6f;
}

.vac a:hover{
	text-decoration: none;
}

.vac div{
	display: none;	
}

.vac__head{
	font-size: 18px !important;
	color: #1b2227;
	margin-bottom: 12px !important;
}

.vac__text{
	font-size: 16px;
}

.team__face{
	padding: 0 102px;	
	margin-top: 30px;
}

.team__face__item{
	padding: 9px;
	border: 1px solid #a18c6f;
	text-align: center;
	margin-bottom: 34px;
}

.team__face__item img{
	width: 100%;
}

.team__face__item__name{
	font-size: 18px ;
	color: #a18c6f ;
	font-family: 'Times New Romans';
	margin-bottom: 0px ;
}

.team__face__item__text{
	margin-bottom: 0 ;
	font-size: 14px ;	
}

.team__face__item__post{
	font-size: 16px ;
	margin-bottom: 12px ;
	background-image: url(images/b_bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 12px;
}

.video img{
	width: 100%;
}

.video__info{
	margin-top: 32px;	
}

.video__info__name{
	font-size: 24px;
	color: #a18c6f;
}

.video__info__post{
	font-size: 16px;
	color: #1d2429;
}

.video__info__text{
	font-size: 16px;
	color: #1d2429;	
}

.adv__item{
	margin-bottom: 52px;	
}

.adv__item__name{
	margin: 19px 0;
	font-size: 24px;
	color: #fff;
}

.adv__item__text{
	color: #fff;
	font-size: 16px;
}

.quest__form__rem{
	color: #fff;
	margin-top: -10px;
	margin-bottom: 20px;
}

.quest__form__wrapper{
	padding-top: 74px;	
}

.quest__form__wrapper textarea{
	border: 1px solid #a18c6f;
	border-radius: 9px;
	width: 100%;
	resize: none;
	height: 160px;
	padding: 11px 21px;
	font-size: 16px;
	color: #000;
}

.quest__form__wrapper input{
	margin-bottom: 6px;
}

.company__to__day{
	overflow: hidden;
}

.company__to__day__item{
	float: left;
	width: 25%;
	min-height: 130px;
	text-align: center;
	border-right: 1px solid #a18c6f;
}

.company__to__day__item:last-child{
	border: none;	
}

.company__to__day__item p{
	margin-bottom: 0;
}

.company__to__day__item__num{
	font-size: 60px !important;
	color: #a18c6f !important;
	font-family: 'Times New Romans';
	line-height: 1 !important;
}

.company__to__day__item__text{
	font-size: 16px !important;
}

.company__to__day__item__num1{
	margin-top: 24px;
}

.company__to__day{
	margin-top: 24px;
}

.about__block{
	margin-top: 37px;
}

.about__block img{
	width: 100%;
}

.to__history{
	color: #a18c6f;
}

.to__history:hover{
	color: #a18c6f;
}

.services__menu{
	margin-top: 18px;	
}

.services__menu__item{
	display: block;
	text-align: center;
	height: 38px;
	background-color: #ebdac1;
	font-size: 16px;
	margin-bottom: 12px;
	padding-top: 7px;
	transition: 0.5s;
}

.services__menu__item:hover{
	text-decoration: none;
	color: #000;
	background-color: #eae6e0;
}

.header__adv__block h1{
	font-size: 50px;
	line-height: 1;
	padding-top: 70px;
	margin-bottom: 13px;
}

.index__slider__slogan h1{
	font-size: 50px;
	line-height: 1;
	margin-bottom: 13px;	
}

.show__order{
	display: block;
	width: 244px;
	height: 51px;
	border-radius: 25px;
	background: linear-gradient(to top, #a28d70, #f3e3cc);
	margin: 130px auto 0 auto;
	text-align: center;
	color: #1c2328;
	font-size: 20px;
	padding-top: 10px;
}

.show__order:hover{
	text-decoration: none;
	color: #1c2328;
}

.header__adv__block p{
	font-family: 'Times New Romans';
	font-size: 30px;
	color: #a18c6f;
	line-height: 1;
}

.index__slider__slogan p{
	font-family: 'Times New Romans';
	font-size: 30px;
	color: #a18c6f;
	line-height: 1;	
}

.header__adv__block__wrapper{
	overflow: hidden;
	margin-top: 80px;
}

.header__adv__block__item{
	width: 25%;
	float: left;
	background-image: url(images/slash.png);
	background-repeat: no-repeat;
	background-position: 100% center;
    padding: 0 34px;	
}

.header__adv__block__item:first-child{
	padding-lefT: 0;
}

.header__adv__block__item:last-child{
	background: none;
	padding-right: 0;
}

.header__adv__block__item p{
	font-size: 16px;
	color: #fff;
	font-family: 'DIN Pro Light';
}

.header__adv__block__item p span{
	font-family: 'Times New Romans';
	font-size: 60px;
	color: #a18c6f;
}

.price__list__item{
	margin-bottom: 32px;
}

.price__list__item__img{
	min-height: 160px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	position: relative;
}

.price__list__item__img p{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 20px;
	padding: 5px 17px;
	font-family: 'Times New Romans';
	margin-bottom: 0 !important;
	line-height: 1;
}

.price__list__item__text{
	padding: 0 12px 23px 12px;
	background-color: #f6e8d4;
}

.price__list__item__text p{
	font-size: 24px;
	color: #1d2429;
	padding: 10px 0;
	border-bottom: 1px solid #d3c2aa;
	line-height: 1 !important;
}

.price__list__item__text p span{
	font-size: 16px;
	color: #1d2429;
}

.price__list__item__text p.text{
	font-size: 16px;
	color: #1d2429;
	border-bottom: none;
	line-height: 1.5 !important;
}

.price__list__item__buch{
	min-height: 400px;	
}

.price__list__item__text a{
	display: block;
	text-align: center;
	background-color: #a18c6f;
	height: 52px;
	border-radius: 25px;
	color: #fff;
	font-size: 20px;
	padding-top: 10px;
	transition: 0.5s;
}

.price__list__item__text a:hover{
	text-decoration: none;
	background-color: #ada190;
}

.specialisty{
	color: #fff;
	font-size: 16px;
	padding-lefT: 110px;
	margin-top: -10px;
	margin-bottom: 50px;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
	display: block !important;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	margin-top: -24px;
	z-index: 980;
}

.owl-carousel .owl-nav .owl-prev{
	left: 0;
}

.owl-carousel .owl-nav .owl-next{
	right: 0;
}

#slider__staff{
	padding: 0 100px;
}

.slider__staff{
	margin-top: -35px;
	margin-bottom: -14px;
}

.slider__news{
	background-image: url(images/bg.jpg);
	padding: 100px 0;
}

#slider__news{
	margin-top: 50px;	
	padding: 0 50px 65px 50px;
	background-image: url(images/decor.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center 100%;
	margin-bottom: 30px;
}

.news__item{
	padding: 0 50px;
	background-image: url(images/birds.png);
	background-repeat: no-repeat;
	background-position: 0 6px;
}

.news__item p{
	color: #fff;
	font-size: 16px;
}

.name__author a{
	text-decoration: underline;
	font-size: 16px;
	color: #ebdac1 !important;	
}

.name__author span{
	color: #fff;
	font-size: 24px;
}

.firm__name{
	font-size: 18px;
}

.sert__item{
	border: 1px solid #a18c6f;
	padding: 9px;
}

#slider__sert{
	padding: 0 100px;
	margin-top: -70px;
}

.slider__sert{
	padding-bottom: 40px;
}

.questions{
	margin-bottom: 30px;	
}

.questions ul li{
	margin-bottom: 5px;	
}

.questions ul li a{
	color: #fff;
	font-size: 18px;
	text-decoration: underline;	
}

.questions ul li a:hover{
	text-decoration: none;	
}

.questions ul li p{
	display: none;
	color: #fff;
	padding-left: 20px;
}

.otstup{
	margin-top: 70px;
}

.seo__text{
	color: #fff;
	font-size: 16px;
	margin-bottom: 32px;
}

.seo__text p{
	margin-bottom: 20px;
}

.content__text__wrapp p img{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 7px;
}

.tarify__item{
	border-bottom: 1px solid #a18c6f;
	padding-bottom: 17px;
	margin-top: 22px;
}

.tarify__item__name{
	font-size: 24px;
	color: #1c2328;
}

.tarify__item__text{
	font-size: 16px;
	color: #1b2227;
}

.tarify{
	padding: 30px 0;
}

.tarify__item__price{
	font-size: 16px;
	color: #a18c6f;
}

.tarify__item__order{
	display: block;
	text-align: center;
	height: 52px;
	background-color: #ebdac1;
	font-size: 20px;
	color: #1c2328 !important;
	border-radius: 26px;
	padding-top: 11px;
	transition: 0.5s;
	box-shadow: 0px 5px 10px #000;
	margin-top: 49px;
	width: 246px;
}

.tarify__item__order:hover{
	text-decoration: none;
	box-shadow: none;
}

.tarify__item__price__wrap{
	margin-top: 58px;
}

.calculator__yur__item{
	border-bottom: 1px solid #a18c6f;
	padding-bottom: 17px;
	margin-top: 22px;	
}

.calculator__yur__item input{
	width: 17px;
	height: 17px;
	cursor:pointer;
}

.tarif__label{
	display: block;
	font-size: 24px;
	color: #a18c6f;
}

.summa__paketa{
	font-size: 60px;
	color: #a18c6f;
	font-family: 'Times New Romans';
}

.summa__paketa span{
	font-size: 24px;
}

.order__paket{
	margin-top: 14px;
}

.document__excel{
	background-image: url(images/excel.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	font-size: 16px;
	color: #1c2328 !important;
	text-decoration: underline;
    padding: 9px 0 9px 50px;	
	display: block;
	margin-top: 20px;
}

.document__excel:hover{
	text-decoration: none;
	color: #1c2328 !important;
}

.solutions__list{
	margin-bottom: 90px;	
}

.solutions__list__item{
	margin-top: 30px;
	padding-bottom: 30px;	
	border-bottom: 1px solid #a18c6f; 	
}

.solutions__list__item__name{
	color: #fff;
	font-size: 24px;
}

.get__answer{
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #000;
	background-color: #a18c6f;
	border-radius: 9px;
	height: 30px;
	padding-top: 2px;
	transition: 0.5s;
}

.get__answer:hover{
	text-decoration: none;
	color: #000;
	background-color: #a79a88;
}

.tarify__order__1c{
	margin-top: 0;
}

.tarify__list{
	margin-bottom: 40px;
}

.new__item{
	padding: 5px;
	border: 1px solid #a59175;	
	min-height: 504px;
	margin-bottom: 30px;
}

.new__item img{
	width: 100%;
}

.new__item__date{
	color: #1d2429;
	font-size: 16px;
}

.new__item__name{
	font-size: 24px;
	color: #a18c6f;
	line-height: 1;
	margin-top: 3px;
	display: block;
}

.new__item__name:hover{
	color: 	#a18c6f;
}

.new__item article{
	padding: 0 15px 15px 15px;
}

.new__item__text{
	font-size: 16px;
	color: #1d2429;
	margin-top: 3px;
}

.paginavi{
	overflow: hidden;
	position:absolute;
}

.paginavi li{
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	display: block;
	font-size: 16px;
	text-align: center;	
}

.paginavi li.active{
	border-radius: 50%;
	background-color: #a18c6f;
	color: #fff;
}

.paginavi li a{
	border: none;
	color: #1d2429;
}

.pagi__wrap{
	position: relative;
	padding: 10px 0;
}

.part__item{
	padding: 19px;
	border: 1px solid #a18c6f;
	min-height: 451px;
	margin-bottom: 30px;
}

#slider__partners1{
	padding-left: 100px;
	margin-top: 80px;
}

#slider__partners1 .owl-item{
	
}

#slider__partners1 .owl-item img{
	width: 156px;
	margin: 0 auto;
	display: block;
}

.part__item__text{
	color: #1d2429;
	margin-top: 5px;
}

.owl-dot span{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #a18c6f;
	display: block;
}

.owl-dots{
	overflow: hidden;
	position: absolute;
}

.owl-dots .owl-dot{
	float: left;
	margin-right: 5px;
}

.owl-dots .owl-dot:last-child{
	margin-right: 0;
}

.owl-dots .owl-dot.active span{
	background-color: black;
}

.owl-carousel{
	position: relative;
}

#slider__awards{
	padding-left: 100px;
	margin-top: 80px;
}

#slider__staff .owl-dots .owl-dot.active span{
	background-color: #fff;
}

.awards__item{
	margin-bottom: 30px;
	padding: 19px;
	border: 1px solid #a18c6f;
}

.index__slider__slogan{
	margin-top: 20px;
}

.cnown__link{
	text-align: center;
	display: block;
	border-radius: 25px;
	color: #1c2328;
	font-size: 22px;
	background: linear-gradient(to top, #a28d70, #f3e3cc);
	height: 52px;
	width: 242px;
	padding-top: 9px;
	margin-top: 107px;
	box-shadow: 0 5px 10px #000;
	transition: 0.5s;
}

.cnown__link:hover{
	box-shadow: none;
	color: #1c2328;
	text-decoration: none;
}

.index__slider__img{
	margin-top: 70px;
}

.index__slider__img img{
	width: 100%;
}

.adv__slide{
	margin-top: 88px;	
}

.adv__slide__item{
	margin-bottom: 25px;
}

.adv__slide__item p{
	color: #fff;
	font-size: 16px;
	line-height: 1;
}

.adv__slide__item p span{
	color: #a18c6f;
	font-size: 60px;
	font-family: 'Times New Romans';
}

.company__to__day__head{
	color: #a18c6f;
	font-size: 35px;
	font-family: 'Times New Romans';
	margin-top: 80px;
}

.company__to__day p{
	color: #fff;
	font-size: 16px;
}

.company__to__day{
	padding-lefT: 100px;
	padding-right: 100px;
	margin-bottom: 50px;
}

#index__slider .owl-dots .owl-dot.active span{
	background-color: #fff;
}

#index__slider .owl-dots{
	position: relative !important;
}

.company__to__day a{
	color: #ebdac1;
	font-size: 16px;
	margin-top: 30px;
	display: block;	
	text-decoration: underline;
}

.company__to__day a:hover{
	color: #ebdac1;
	text-decoration: none;
}
/*-----------------------Адаптив---------------------*/
@media(max-width: 1199px){
	.header__phone{
		margin-top: 3px;
		margin-left: 114px;
	}
	
	.footer__right{
		width: 45%;
	}
	
	.history__item__left .circle_img {
		right: -25px;
	}

	.history__item__right .circle_img {
		left: -22px;
	}	
	
	.company__to__day__item__num{
		font-size: 45px !important;
	}
	
	.new__item{
		min-height: 557px;
	}
}

@media(max-width: 991px){
	.social{
		margin-top: 14px;
	}
	
	.messengers{
		margin-top: 14px;
	}
	
	.footer__left{
		float: none;
		width: 138px;
		margin: 0 auto 10px auto;
	}
	
	.history__item__left .circle_img {
		right: -20px;
	}

	.history__item__right .circle_img {
		left: -18px;
	}	
	
	.team__face{
		padding: 0;
	}
	
	.quest__form__wrapper{
		display: none;
	}
	
	.show__order{
		margin-top: 33px;
	}
	
	.header__adv__block__wrapper{
		margin-top: 26px;
	}
	
	.header__adv__block__item p span{
		font-size: 42px;
	}
	
	.news__item p{
		margin-bottom: 20px;
	}
	
	.tarify__item__price__wrap {
		margin-top: 38px;
	}	
	
	.header__adv__block h1{
		padding-top: 15px;
	}
	
	.new__item {
		min-height: 560px;
	}	
	
	.part__item{
		min-height: 441px;
	}
	
	#slider__partners1{
		padding-left: 0;
	}
	
	#slider__awards{
		padding-left: 0;
	}
}

@media(max-width: 767px){
	.contacts__head{
		float: left;
		margin-right: 5px;
	}
	
	.company{
		display: none;
	}
	
	.header__menu{
		display: none;
	}
	
	.no__car__list{
		margin-bottom: 40px;
	}
	
	.quest__form input{
		margin-bottom: 15px;
	}
	
	.circle_img{
		display: none;
	}
	
	.vertical__line{
		display: none;
	}
	
	.history__item__left{
		float: none;
	}
	
	.history__item__right{
		float: none;
	}
	
	.history__item{
		width: 100%;
		margin-bottom: 40px;
	}
	
	.history__item__right1{
		margin-top: 0;
	}
	
	.vac{
		margin-bottom: 30px;
	}
	
	.video__info__post{
		margin-bottom: 20px;
	}
	
	.adv__item{
		min-height: 250px;
	}
	
	#slider__staff, #slider__sert {
		padding: 0 36px;
	}	

	#slider__news{
		    padding: 0 0px 65px 0px;
	}	
}

@media(max-width: 691px){
	.social{
		float: none;
		width: 90px;
	}
	
	.messengers{
		border-left: 1px solid #a18c6f;
	}
	
	.header__phone{
		margin-top: -30px;
	}
}

@media(max-width: 648px){
	.footer__right{
		float: none;
		width: 100%;
		margin-bottom: 15px;
		text-align: center;
	}
	
	.footer__center{
		float: none;
		width: 305px;
		margin: 0 auto;
	}
}

@media(max-width: 600px){
	.col-logo{
		width: 100%;
	}
	
	.col-addr{
		width: 100%;
	}
	
	.container{
		padding-left: 15px;
	}
	
	.header__logo{
		display: block;
		width: 204px;
		margin: 0 auto;
	}
	
	.header__logo img{
		width: 100%;
	}
	
	.trg{
		left: 50%;
		margin-left: -19px;
	}
	
	.col-adv{
		width: 100%;
	}
	
	.adv__item{
		min-height: auto;
		text-align: center;
	}	
	
	.company__to__day__item__num{
		font-size: 26px !important;
	}

	.header__adv__block__item{
		float: none;
		width: 100%;
		background: none;
		text-align: center;
		padding: 0;
		margin-bottom: 30px;
	}	
	
	.header__adv__block__item p span{
		display: block;
	}
	
	.specialisty{
		padding-lefT: 0;
	}
	
	.col-news{
		width: 100%;
	}
}

@media(max-width: 537px){
	.messengers{
		float: none;
		width: 202px;
	}
	
	.header__phone{
		float: none;
		margin-top: -70px;
	}
	
	#slider__news {
		padding: 0 0px 30px 0px;
	}	
}


@media(max-width: 500px){
	.summa__paketa{
		font-size: 40px;
	}
}

@media(max-width: 480px){
	.company__to__day__item{
		border: none;
		float: none;
		width: 100%;
		font-size: 45px !important;
	}
	
	.header__adv__block h1{
		font-size: 35px;
	}
	
	.header__adv__block p{
		font-size: 22px;
	}
	
	.content__text__img img{
		width: 100%;
	}
}

@media(max-width: 400px){
	.col-service{
		width: 100%;
	}
	
	.col-price{
		width: 100%;
	}
	
	.summa__paketa{
		font-size: 28px;
	}	
}

@media(max-width: 360px){
	.header__phone{
		margin-top: 0;
		margin-left: 0;	
	}
	
	.header__phone__link{
		text-align: center;
	}
	
	.header__phone a{
		text-align: center;
	}
	
	.social{
		margin: 13px auto;
	}
	
	.messengers{
		margin: 13px auto;
	}
}
